@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-clinica {
  background-image: url('../imagenes/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-color {
  color: #00B5B5;
}